## Question-1

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
# Assume Null hyposthesis,
# H0: μ1 = μ2 (There is no difference in diameters of cutlets between two units).

# Thus Alternate hypothesis,
# H1: μ1 ≠ μ2 (There is significant difference in diameters of cutlets between two units) 2 Sample 2 Tail test applicable

In [4]:
Unit_A = pd.Series(df['Unit A'])
Unit_B = pd.Series(df['Unit B'])

In [5]:
stats.ttest_ind(Unit_A, Unit_B)

TtestResult(statistic=0.7228688704678063, pvalue=0.4722394724599501, df=68.0)

In [6]:
# pvalue > 0.05 (Given significance level)
# Hence, Accept H0

## Question-2

In [7]:
# One-way ANOVA is suitable Since we have one categorical independent variable (in this case, the different groups represented by the four columns, i.e., Laboratory)
# and one continuous dependent variable (turnaround times).

In [8]:
# H0 = There is difference in the average Turn Around Time (TAT) of reports of the labs
# H1 = There is no difference

In [9]:
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [10]:
stats.f_oneway(df.iloc[:,0], df.iloc[:,1], df.iloc[:,2], df.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [27]:
# pvalue < 0.05 
# Hence, Accept H1

## Question-3

In [12]:
# As we are comparing proportions(ratio's) use Chi_Squared Test

In [13]:
# H0 = All proportions are equal
# H1 = Not all Proportions are equal

In [14]:
from scipy.stats import chi2_contingency

In [15]:
# Make a Contingency Table
Observed_values = np.array([[50,142,131,70],
                            [435,1523,1356,750]])

In [16]:
chi2_contingency(Observed_values)

Chi2ContingencyResult(statistic=1.595945538661058, pvalue=0.6603094907091882, dof=3, expected_freq=array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [17]:
# pvalue > 0.05, Accept H0

## Question-4

In [18]:
# H0 = defective %  varies by centre
# H1 = defective %  do not varies by centre

In [19]:
df = pd.read_csv("C:\\Users\\DELL\\Downloads\\Costomer+OrderForm.csv")
df

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [20]:
df.Phillippines.value_counts()

Phillippines
Error Free    271
Defective      29
Name: count, dtype: int64

In [21]:
df.Indonesia.value_counts()

Indonesia
Error Free    267
Defective      33
Name: count, dtype: int64

In [22]:
df.Malta.value_counts()

Malta
Error Free    269
Defective      31
Name: count, dtype: int64

In [23]:
df.India.value_counts()

India
Error Free    280
Defective      20
Name: count, dtype: int64

In [24]:
data = np.array([[271,267,269,280],
                 [29,33,31,20]])

In [25]:
chi2_contingency(data)

Chi2ContingencyResult(statistic=3.858960685820355, pvalue=0.2771020991233135, dof=3, expected_freq=array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]]))

In [26]:
# pvalue > 0.05, Accept H0